name: "Deploy main"

on:
  push:
    branches:
      - main

concurrency:
  group: push_main

env:
  CARGO_TERM_COLOR: always

jobs:
  lint_test_build:
    name: Lint, test and build all packages

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2

      - name: Enable debug logging
        if: ${{ runner.debug }}
        run: echo "CARGO_TERM_VERBOSE=true" >> $GITHUB_ENV

      - name: cargo fmt
        run: cargo fmt --all --check

      - name: cargo build
        run: cargo build --workspace

      - name: cargo clippy
        run: cargo clippy --workspace --all-targets -- -D warnings

      - name: cargo test
        run: cargo test --workspace

  build_releases:
    name: Build releases

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            setup: apt-get install -y gcc-aarch64-linux-gnu
            cargo_env: CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER=aarch64-linux-gnu-gcc
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: macos-latest
            target: x86_64-apple-darwin

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Enable debug logging
        if: ${{ runner.debug }}
        run: echo "CARGO_TERM_VERBOSE=true" >> $GITHUB_ENV

      - name: Install rust target
        run: rustup target add ${{ matrix.target }}

      - name: Setup for build
        if: ${{ matrix.setup }}
        run: ${{ matrix.setup }}

      - name: cargo build
        run: ${{ matrix.cargo_env }} cargo build --release --workspace --target=${{ matrix.target }}

      - name: Upload built artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.target }}
          path: target/${{ matrix.target }}/release/gh-actions-metrics
          retention-days: 1

  release:
    name: Create GitHub release
    runs-on: ubuntu-latest

    needs: [lint_test_build, build_releases]

    permissions:
      contents: "write"
      packages: "write"
      pull-requests: "read"

    steps:
      - uses: actions/checkout@v4

      - name: Download built binaries
        uses: actions/download-artifact@v3
        with:
          path: binaries

      - name: Rename binaries
        working-directory: binaries
        run: |
          for target in * ; do
            for bin in $target/* ; do
              mv $bin $bin-$target
            done
          done

      - name: List binaries
        id: list-binaries
        run: |
          echo "binaries<<EOF" >> $GITHUB_OUTPUT
          find binaries -type f >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ github.token }}
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: ${{ steps.list-binaries.outputs.binaries }}
